.center-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-form-content {
    padding-top: 10em;
}

.form-card {
    padding: 5px;
    text-align:center;
}

.form-actions {
    /* flex-flow: row; */
}